@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css";

//============================================\\
//================ TYPOGRAPHY ================\\
//============================================\\

$kdl-tkn-font-family-dmsans: 'DM Sans',
sans-serif;

$kdl-tkn-text-style-heading-1: 4rem;
$kdl-tkn-text-style-heading-2: 3.25em;
$kdl-tkn-text-style-heading-3: 2rem;
$kdl-tkn-text-style-heading-4: 1.6rem;

$kdl-tkn-text-style-body-1: 1rem;
$kdl-tkn-text-style-body-2: 1.125rem;

$kdl-tkn-text-style-heading-1-desktop: 4rem;
$kdl-tkn-text-style-heading-1-mobile: 3rem;

$kdl-tkn-text-style-heading-2-desktop: 3.25em;
$kdl-tkn-text-style-heading-2-mobile: 2.5rem;

$kdl-tkn-text-style-heading-3-desktop: 2rem;
$kdl-tkn-text-style-heading-3-mobile: 1.5rem;

$kdl-tkn-text-style-heading-4-desktop: 1.5rem;
$kdl-tkn-text-style-heading-4-mobile: 1.25rem;

$kdl-tkn-text-style-body-desktop: 1rem;
$kdl-tkn-text-style-body-mobile: 0.938rem;

$kdl-tkn-text-style-body-compact-desktop: 0.875rem;

$kdl-tkn-text-style-12: 0.75rem;
$kdl-tkn-text-style-14: 0.875rem;
$kdl-tkn-text-style-16: 1rem;
$kdl-tkn-text-style-18: 1.125rem;
$kdl-tkn-text-style-24: 1.5rem;
$kdl-tkn-text-style-32: 2rem;
$kdl-tkn-text-style-40: 2.5rem;
$kdl-tkn-text-style-48: 3rem;
$kdl-tkn-text-style-52: 3.25rem;
$kdl-tkn-text-style-64: 4rem;
$kdl-tkn-text-style-76: 4.75rem;

$kdl-tkn-text-style-uppercase: uppercase;

//============================================\\
//=============== FONT WEIGHT ================\\
//============================================\\

$kdl-tkn-font-weight-300: 300;
$kdl-tkn-font-weight-400: 400;
$kdl-tkn-font-weight-500: 500;
$kdl-tkn-font-weight-600: 600;
$kdl-tkn-font-weight-700: 700;